header {
  background-color: rgb(231, 61, 61);
  font-size: 45px;
  text-align: center;
  color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
header img {
  width: 60px;
}
